<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="home">
      Job Queue
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="create">
            Create Job
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>